
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: rgb(207, 8, 8);
  height: auto;
  }
  #cabecalho {
    border-bottom: 9px rgb(137, 111, 189) solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    height: 110px;
    background: linear-gradient(to top left, yellow, rgb(0, 161, 236));
    margin: -10px -10px 10px -10px;
    }
  #pesquisa {
    width: 15vb;
    height: auto;
  margin-top: 30px;
  margin-left: 10px;
    border-radius: 10px;
    border: 0px;

    }
  div#nome1 {
  margin-left: 50px;
  margin-right: 0px;
  height: auto;
  width: auto;
  
  }
  #n1{
  font-size: 13pt;
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto; 
  font-family: 'es','sans-serif';
  }
  #nome1{
    margin-left: 0;
    margin-right: 0px; 
    }
  #copyread{
  font-size: 5pt;
  }
  #nome{
  font-family:es, 'sans-serif'; 
  font-size: 11px;
  margin-left: 0px;
  }
  #contat{
  width: 20px;
  height: 20px;  
  margin-top: 33px;
  margin-left: 10px;
  margin-right: 5px; 
  }
  #copyread{
  font-size: 15px;
  }
  #nome{
  font-family:'es', 'sans-serif'; 
  font-size: 15px;
  }
  #tele{
  white-space: nowrap;
  font-size:5pt;
  margin-top: 35px;
  margin-left: 0px;
  margin-right: 0px;
  }

  .b1{
  width: 105px;
  height: 105px;
  }
  #pv1{
  font-size: 13px;
  }
  #pv2{
  font-size: 13px;
  }
  #pv3{
  font-size: 13px;
  }
  #pv4{
  font-size: 13px;
  }
  #pv5{
  font-size: 13px;
  }
  #pv6{
  font-size: 13px;
  }
  #pv7{
  font-size: 13px;
  }
  #pv8{
  font-size: 13px;
  }             
  #pv9{
  font-size: 13px;
  }
  
  
      #logop {
        width: 100px;
        height: auto;


        }
        .search-container {
          position: relative;
          display: inline-block;
      }
     
      .search-input {
          padding-right: 40px;
      }
     
      .search-icon {
          position: absolute;
          top: 35%;
          right: 5px;
          transform: translateY(-50%);
          cursor: pointer;
      }
#lupaa{
  width:25px;
}


